[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = ~/.ssh/github_ed25519.pub

[commit]
	gpgsign = true

[gpg]
	format = ssh

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	editor = hx
	excludesFile = ~/.config/git/ignore
{{ if lookPath "delta" }}
	pager = delta
{{ end }}

{{ if lookPath "delta" }}
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
{{ end }}

{{ if lookPath "difft" }}
[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[alias]
	dft = difftool
	dfl = -c diff.external=difft log -p --ext-diff
	dfs = -c diff.external=difft show --ext-diff
{{ end }}
